<footer class="site-footer">
    <div class="row flex">
        <div class="col-md-3 col-xs-12 copyright">
            <img src="img/abbott.png" alt="" >
            <p>
                © 2015 OOO «Эбботт Лэбораториз»,<br>
                125171, Россия, Москва, Ленинградское<br>
                шоссе, дом 16А, строение 1<br>
                <br>
            </p>
            <p>RUFMS170205 от 24.01.2017</p>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">Условия использования</a></li>
                        <li><a href="#">Политика хранения персональных данных</a></li>
                    </ul>
                </div>
                <div class="col-md-offset-2 col-md-3">
                    <ul>
                        <li><a href="#">Статьи</a></li>
                        <li><a href="#">Сервисы</a></li>
                        <li><a href="#">Тесты</a></li>
                        <li><a href="#">Вопросы и ответы</a></li>
                        <li><a href="#">Адреса клиник</a></li>
                    </ul>
                </div>
                <div class="col-md-offset-1 col-md-2 b-line">
                <ul>
                    <li><a href="#">Abbot Россия</a></li>
                    <li><a href="#">Обратная связь</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <p class="site-footer-info">
        Программа «Women First» разработана при поддержке ООО «Эбботт Лэбораториз» в целях повышения осведомлённости общественности о вопросах состояния здоровья. Информация
        в материале не заменяет консультации специалиста здравоохранения. Обратитесь к лечащему врачу.
    </p>
    <p class="contraindications">
        <svg class="icon icon-contraindications"><use xlink:href="#icon-contraindications"></use></svg>
        <svg class="icon icon-contraindications-sm"><use xlink:href="#icon-contraindications-sm"></use></svg>
    </p>
</footer>