            <div class="site-header-fixed">
                <div class="container">
                    <div class="row">
                        @@include('./_menu.html')
                        <button class="icon icon-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="search-block">
                            <form action="" class="flex">
                                <button type="submit" class="search-icon">
                                    <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
                                </button>
                                <div class="search-input">
                                    <input type="search" placeholder="Что хотите найти?">
                                </div>
                            </form>
                        </div>
                        <a href="#" class="btn btn-primary go">
                            Пройти обследование
                            <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                        </a>
                    </div>
                </div>
            </div>