<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg style="position: absolute; width: 0; height: 0;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
    <defs>
        <style type="text/css">
          .change-fill {fill:currentColor}
        </style>
        <symbol id="icon-cross" viewBox="0 0 26 26">
          <path fill="#FFFFFF" class="change-fill" d="M11.8,13.1L0.3,24.6c-0.3,0.3-0.3,0.8,0,1.2C0.5,26,0.7,26,0.9,26c0.2,0,0.4-0.1,0.6-0.2L13,14.2
      			l11.6,11.6C24.8,26,25,26,25.2,26c0.2,0,0.4-0.1,0.6-0.2c0.3-0.3,0.3-0.8,0-1.2L14.3,13.1L25.8,1.6c0.3-0.3,0.3-0.8,0-1.2
    			     c-0.3-0.3-0.8-0.3-1.2,0L13,12L1.4,0.4c-0.3-0.3-0.8-0.3-1.2,0c-0.3,0.3-0.3,0.8,0,1.2L11.8,13.1z"/>
        </symbol>
    </defs>
</svg>