.btn {
  padding: 10px 20px;
  text-decoration: none;
  @include box-shadow(none !important);
  @include transition(all .3s linear);

  &-default {
    color: $btn-default-color;
    background-color: $btn-default-bg;
    border: 2px solid $btn-default-border;
    border-radius: 0;
    @include box-shadow(none !important);

    &:hover,
    &.hover {
      color: $btn-default-color;
      background-color: $btn-default-bg-hover;
      border-color: $btn-default-bg-hover;
    }
    &:focus,
    &:active,
    &:active:hover {
      color: $btn-default-color-hover;
      background-color: $btn-default-bg-hover;
      border-color: $btn-default-bg-hover;
    }
    &.active {
      color: $btn-default-color;
      background-color: $btn-default-bg-active;
      border-color: $btn-default-bg-active;

      &:hover {
        color: $btn-default-color;
        background-color: $btn-default-bg-hover;
        border-color: $btn-default-bg-hover;
      }
    }
  }
  &-primary {
    font-family: $font-family-bold;
    font-size: 14px;
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border: 2px solid $btn-primary-border;
    border-radius: 0;
    text-transform: uppercase;
    @include box-shadow(none !important);

    &:hover,
    &.hover {
      color: #fff;
      background-color: $btn-primary-bg-hover;
      border-color: $btn-primary-bg-hover;
    }
    &:focus,
    &:active,
    &:active:hover {
      color: #fff;
      background-color: $btn-primary-bg-hover;
      border-color: $btn-primary-bg-hover;
    }
    &.active {
      color: #fff;
      background-color: $btn-primary-bg-hover;
      border-color: $btn-primary-bg-hover;

      &:hover {
        color: #fff;
        background-color: $btn-primary-bg-hover;
        border-color: $btn-primary-bg-hover;
      }
    }
  }
}
