.site {
  &-header {
    padding: 22px 40px 0;
    background: #fff;
    width: 100%;
    position: relative;
    z-index: 101;

    &-top {
      padding-bottom: 15px;
      @include flexbox();
      @include align-items(center);

      .go {
        padding: 15px 20px 13px 35px;
        margin: 0 0 0 auto;
        letter-spacing: 1.3px;
        line-height: 18px;

        .icon {
          margin-left: 40px;
        }
      }
    }
    &-bottom {
      border-top: 2px solid #EEEEEE;
      position: relative;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-right: 45px;

          a {
            display: block;
            text-transform: uppercase;
            font-family: $font-family-bold;
            font-size: 14px;
            color: #000;
            padding: 23px 0;

            &:hover {
              text-decoration: none;
              color: $second-color;
            }
          }
        }
      }
      .search {
        &-block {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          pointer-events: none;

          .flex {
            @include inline-flex();
            @include flex-direction(row-reverse);
          }
          &.active {
            pointer-events: all;

            .search-icon {
              background: transparent;
              border-left: 0;

              &:hover {
                .icon {
                  color: #000;
                }
              }
            }
            .search-input {
              input {
                width: 100%;
                left: inherit;
                right: 0;
                padding: 23px 60px 23px 20px;
              }
            }
          }
        }
        &-icon {
          position: absolute;
          left: inherit;
          right: 0;
          top: 0;
          border: 0;
          z-index: 9;
          pointer-events: all;

          &:hover {
            .icon {
              color: #fff;
            }
          }
          .icon {
            &:hover {
              color: #fff;
            }
          }
        }
        &-input {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          max-width: 324px;

          input {
            position: relative;
            right: 0;
            float: right;
            width: 0px;
            border: 0;
            padding: 23px 0;
            background: #fff;
            @include transition(all .3s ease);
            @include box-shadow(inset 0 0 20px 0 rgba(0,0,0,.12));
          }
        }
      }
    }
    &-fixed {
      position: fixed;
      top: -200%;
      left: 0;
      right: 0;
      background: #fff;
      height: 60px;
      z-index: 102;
      @include box-shadow(0 0 30px 0 rgba(0,0,0,.30));
      @include transition(all .5s ease);

      &.show {
        top: 0;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-right: 45px;

          a {
            display: block;
            text-transform: uppercase;
            font-family: $font-family-bold;
            font-size: 14px;
            color: #000;
            padding: 20px 0;

            &:hover {
              text-decoration: none;
              color: $second-color;
            }
          }
        }
      }
      .row {
        @include flexbox();
      }
      .search {
        &-block {
          position: static;
          margin: 0 0 0 auto;
        }
        &-icon {
          border: 0;
          padding: 21px 21px 16px;
          border-left: 2px solid #eee;
        }
      }
      .go {
        padding: 19px 20px 19px 35px;
        margin: 0 -1px 0 0;
        letter-spacing: 1.3px;
        line-height: 18px;
        width: 25%;

        .icon {
          margin-left: 40px;
        }
      }
      @media (max-width: 1440px) {
        padding-left: 30px;

        .go {
          width: 25.6%;

          .icon {
            margin-left: 13px;
          }
        }
      }
      @media (min-width: 991px) {
        .go {
          letter-spacing: 0.5px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      @media (min-width: $screen-lg) {
        .search {
          &-block {
            position: relative;

            .flex {
              @include inline-flex();
              @include flex-direction(row-reverse);

            }
            &.active {
              .search-icon {
                background: transparent;
                border-left: 0;
                left: 0;

                &:hover {
                  .icon {
                    color: #000;
                  }
                }
              }
              .search-input {
                pointer-events: all;

                input {
                  width: 100%;
                  right: 0;
                  padding: 20.5px 60px 20.5px 20px;
                }
              }
            }
          }
          &-icon {
            position: relative;
            left: 0;
            right: 0;
            border: 0;
            border-left: 2px solid #eee;
            z-index: 9;
          }
          &-input {
            position: absolute;
            right: 0;
            width: calc(1440px - 360px);
            pointer-events: none;

            input {
              position: relative;
              right: 0;
              float: right;
              width: 0px;
              border: 0;
              padding: 20.5px 0;
              background: #fff;
              @include transition(all .3s ease);
              @include box-shadow(inset 0 0 20px 0 rgba(0,0,0,.12));
            }
          }
        }
        .go {
          letter-spacing: 1px;
          padding-left: 25px;
        }
      }
      @media (max-width: $screen-md-max) {
        padding-left: 0;

        .main-menu {
          position: absolute;
          top: 60px;
          left: 0;
          padding: 15px;
          background: #fff;
          pointer-events: none;
          z-index: 102;
          @include opacity(0);
          @include box-shadow(5px 0 20px 0 rgba(0,0,0,.30));

          &.active {
            pointer-events: all;
            @include opacity(1);
          }
          li {
            display: block;
            width: 100%;

            a {
              padding: 7px 0;
            }
          }
        }
        .search {
          &-block {
            width: calc(75% - 40px);
            margin: 0;
            position: relative;
            pointer-events: none;

            .flex {
              @include flexbox();
            }
            &.active {
              pointer-events: all;

              .search-icon {
                background: transparent;
                left: calc(100% - 59px);
                border-right: 0;

                &:hover {
                  .icon {
                    color: #000;
                  }
                }
              }
              .search-input {
                pointer-events: all;
                @include opacity(1);

                input {
                  width: calc(100% + 60px);
                  padding: 20.5px 60px 20.5px 20px;
                }
              }
            }
          }
          &-icon {
            position: relative;
            left: 0;
            border: 0;
            border-left: 0;
            border-right: 2px solid #eee;
            z-index: 9;
            pointer-events: all;
          }
          &-input {
            width: 100%;
            pointer-events: none;
            @include opacity(0);

            input {
              position: relative;
              left: -60px;
              width: 0px;
              border: 0;
              padding: 20.5px 0;
              background: #fff;
              @include transition(all .3s ease);
              @include box-shadow(inset 0 0 20px 0 rgba(0,0,0,.12));
            }
          }
        }
        .go {
          margin: 0 -1px 0 auto;
        }
      }
      @media (max-width: $screen-sm-max) {
        &.show {
          top: -200%;
        }
      }
    }
    @media (min-width: $screen-md) {
      &-bottom {
        .icon-menu {
          display: none;
        }
      }
    }
    @media (max-width: $screen-md-max) {
      padding: 22px 35px 0;

      &-top {
        .go {
          padding: 15px 15px 13px 15px;

          .icon {
            margin-left: 20px;
          }
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 0;
      height: 120px;
      @include box-shadow(0 0 20px 0 rgba(0,0,0,.3));
      @include flexbox();

      &-top {
        padding: 20px 20px 20px 40px;

        .go {
          display: none;
        }
      }
      &-bottom {
        border-top: 0;
        margin: 0 0 0 auto;

        .main-menu {
          display: none;
        }
        .search{
          &-block {
            right: 120px;

            &.active {
              .search-icon {
                border-left: 2px solid #eee;
              }
              .search-input {
                pointer-events: none;
                @include opacity(0);
              }
            }
            .search-input {
              pointer-events: none;
              @include opacity(0);
            }
          }
          &-icon {
            padding: 29px 28.5px 23px;
            height: 120px;
            width: 120px;
            border-left: 2px solid #eee;

            .icon-search {
              max-width: 35px;
              max-height: 35px;
            }
          }
        }
        .icon-menu {
          display: block;
          height: 120px;
          width: 120px;
          padding: 28.5px 25px;
          border-left: 2px solid #eee;
          border-right: 0;
          text-align: center;

          .icon-bar {
            width: 46px;
            height: 4px;
            margin-left: auto;
            margin-right: auto;

            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    @media (max-width: 700px) {
      height: 70px;

      &-top {
        padding: 10px 10px 10px 20px;
      }
      .search{
        &-block {
          right: 70px;
        }
        &-icon {
          padding: 20px 17px 15px;
          height: 70px;
          width: 70px;

          .icon-search {
            max-width: 18px;
            max-height: 18px;
          }
        }
      }
      .icon-menu {
        padding: 15px 22px;
        height: 70px;
        width: 70px;

        .icon-bar {
          width: 24px;
          height: 2px;

          &:not(:last-child) {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
  &-footer {
    padding: 40px 40px 25px 40px;

    &-info {
      margin-top: 10px;
      color: #b5b5b5;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 20px;

        a {
          font-size: 14px;
          line-height: 16px;
          color: #000;
          text-decoration: underline;

          &:hover {
            color: $second-color;
            text-decoration: underline;
          }
        }
      }
    }
    .copyright {
      img {
        margin-bottom: 30px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
        color: #b5b5b5;
      }
    }
    .contraindications {
      margin-top: 15px;
      padding-top: 25px;
      max-height: 85px;
      border-top: 2px solid #eee;
    }
    @media (max-width: $screen-sm-max) {
      &-info {
        font-size: 26px;
        line-height: 32px;
      }
      ul {
        li {
          margin-bottom: 0;

          a {
            display: block;
            text-decoration: none;
            font-size: 26px;
            padding: 35px 0;
            border-top: 2px solid #eee;
            background: url('../img/svg/arrow-mini-right.svg') right center no-repeat;
            background-size: 17px 23px;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      .flex {
        @include flexbox();
        @include flex-wrap(wrap);
        @include flex-direction(row-reverse);
        @include flex-wrap(wrap-reverse);
      }
      .copyright {
        img {
          width: 100%;
          max-width: 270px;
        }
        p {
          font-size: 26px;
          line-height: 32px;
        }
      }
      .b-line {
        ul {
          border-bottom: 2px solid #eee;
          margin-bottom: 35px;
        }
      }
      .contraindications {
        max-height: 155px;
      }
    }
    @media (max-width: 700px) {
      padding: 20px 20px 15px 20px;

      &-info {
        font-size: 16px;
        line-height: 18px;
      }
      ul {
        li {
          a {
            font-size: 16px;
            padding: 25px 0;
          }
        }
      }
      .copyright {
        img {
          width: auto;
        }
        p {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
    @media (max-width: 500px) {
      .contraindications {
        padding-top: 0;
        max-height: 110px;
      }
    }
  }
}
.container {
  @media (max-width: 1440px) {
    width: 100%;
    max-width: $container-lg;
  }
}
.main_banner {
  position: relative;

  &.cycle,
  &.pregnancy {
   .container {
     padding-top: 120px;
     padding-left: 120px;

     .title {
       font-size: 54px;
       line-height: normal;
       margin-bottom: 0;
       letter-spacing: inherit;
     }
     .description {
       font-size: 54px;
       line-height: normal;
       padding-left: 0;

       span {
         padding-left: 0;

         &:first-child {
           padding-left: 0;
         }
         &:last-child {
           padding-left: 0;
         }
       }
     }
     @media (max-width: $screen-sm-max) {
       padding-top: 90px;
       padding-left: 35px;

       .title,
       .description {
         font-size: 34px;
       }
     }
     @media (max-width: 700px) {
       padding-top: 30px;

       .title,
       .description {
         font-size: 25px;
       }
     }
    }
  }
  &.add_mobile {
    @media (max-width: 700px) {
      height: calc(100vh - 160px);

      img {
        width: auto;
        max-height: 100%;
        max-width: none;
        height: inherit;
      }
    }
  }
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    padding: 190px 80px 0;

    .title {
      font-size: 118px;
      line-height: 106px;
      font-family: $font-family-bold;
      letter-spacing: 12px;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 30px;
      position: relative;
      left: -100%;
      @include animation(title-animate 6s forwards);
    }
    .description {
      font-size: 58px;
      line-height: 62px;
      font-family: $font-family-bold;
      text-transform: uppercase;
      color: #fff;
      padding-left: 80px;

      span {
        padding-left: 200px;
        display: block;

        &:first-child {
          position: relative;
          left: -100%;
          padding-left: 80px;
          @include animation(title-animate 6s 1s forwards);
        }
        &:last-child {
          position: relative;
          left: -100%;
          padding-left: 200px;
          @include animation(title-animate 6s 1.5s forwards);
        }
      }
    }
    .icon-play {
      position: absolute;
      top: 190px;
      right: 80px;
    }
  }
  @media (max-width: $screen-md-max) {
    .container {
      padding: 100px 65px 0;

      .title {
        font-size: 82px;
        line-height: 75px;
        margin-bottom: 30px;
      }
      .description {
        font-size: 34px;
        line-height: 38px;
        padding-left: 55px;

        span {
          padding-left: 140px;
        }
      }
      .icon-play {
        position: absolute;
        top: 100px;
        right: 65px;
        max-width: 64px;
        max-height: 64px;

        &:hover {
          max-width: 77px;
          max-height: 77px;
        }
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    img {
      width: 100%;
    }
    .container {
      padding: 90px 35px;

      .title {
        font-size: 86px;
        line-height: 79px;
        margin-bottom: 40px;
        letter-spacing: 9px;
      }
      .description {
        font-size: 42px;
        line-height: 46px;
        padding-left: 0;
        margin-bottom: 50px;

        span {
          padding-left: 0;

          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-left: 0;
          }
        }
      }
      .icon-play {
        position: relative;
        top: 0;
        right: inherit;
        max-width: 120px;
        max-height: 120px;

        &:hover {
          max-width: 133px;
          max-height: 133px;
        }
      }
    }
  }
  @media (max-width: 700px) {
    .container {
      padding: 30px 15px 0;

      .title {
        font-size: 50px;
        letter-spacing: 1px;
        margin-bottom: 15px;
      }
      .description {
        font-size: 30px;
        margin-bottom: 15px;
      }
      .icon-play {
        max-width: 64px;
        max-height: 64px;

        &:hover {
          max-width: 77px;
          max-height: 77px;
        }
      }
    }
  }
}
.present-block {
  background: $main-color;
  height: 835px;
  padding: 30px 120px 70px 40px;

  &:after {
    content: '';
    display: block;
    width: 100%;
    max-width: 93px;
    height: 3px;
    background: #fff;
    margin-top: 80px;
  }
  .icon-mouse,
  .icon-arrow-down {
    position: absolute;
    top: 30px;
    right: 40px;
  }
  .title {
    color: #fff;
    font-family: $font-family-bold;
    font-size: 36px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 50px;

    span {
      font-family: $font-family-regular;
      display: block;
      font-size: 26px;
      line-height: 30px;
    }
  }
  .description {
    color: #fff;
    font-family: $font-family-bold;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 50px;
  }
  .desc {
    color: #fff;
    font-size: 20px;
    line-height: 32px;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
  @media (max-width: 1365px) {
    padding: 20px 45px 30px 30px;
    height: 592px;

    &:after {
      max-width: 92px;
      height: 2px;
      margin-top: 50px;
    }
    .title {
      font-size: 26px;
      line-height: 22px;
      margin-bottom: 30px;

      span {
        font-size: 19px;
      }
    }
    .description {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 35px;
    }
    .icon-mouse {
      max-width: 18px;
      max-height: 40px;
      top: 20px;
      right: 30px;
    }
    .desc {
      font-size: 16px;
      line-height: 24px;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    padding: 40px;
    height: auto;

    &:after {
      max-width: 140px;
    }
    .title {
      font-size: 48px;
      line-height: 42px;
      margin-bottom: 45px;

      span {
        font-size: 36px;
        line-height: 42px;
      }
    }
    .icon-mouse,
    .icon-arrow-down {
      top: 40px;
      right: 55px;
    }
    .description {
      font-size: 28px;
      line-height: 38px;
      padding-right: 100px;
    }
    .desc {
      font-size: 28px;
      line-height: 36px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
  @media (max-width: 700px) {
    padding: 20px;

    .title {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 30px;

      span {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .icon-arrow-down {
      top: 20px;
      right: 30px;
      max-width: 28px;
      max-height: 51px
    }
    .description {
      font-size: 18px;
      line-height: 20px;
      max-width: 100%;
      margin-bottom: 30px;
    }
    .desc {
      font-size: 14px;
      line-height: 16px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}