/* Fonts */
$font-family-regular:           'ProximaNovaRegular', sans-serif;
$font-family-bold:              'ProximaNovaBold', sans-serif;

/* Main */
$bg-color:                       #f6f6f6;

$main-color:                     #990F45;
$second-color:                   #B81152;

$text-color:                     #000;
$head-color:                     #444;
$link-color:                     #000;
$link-hover-color:               #9f1050;
$link-hover-color-item:          #ee3b37;
$link-hover-decoration:          underline;

/* Buttons */
$btn-font-weight:                normal;

$btn-default-color:              #000;
$btn-default-bg:                 #fff;
$btn-default-bg-hover:           #B81152;
$btn-default-bg-active:          darken($btn-default-bg-hover, 10%);
$btn-default-border:             #B81152;

$btn-danger-color:              #fff;
$btn-danger-bg:                 #ee3b37;
$btn-danger-bg-hover:           #d60f0f;
$btn-danger-bg-active:          #c20e0e;
$btn-danger-border:             #ee3b37;

$btn-primary-color:              #fff;
$btn-primary-bg:                 transparent;
$btn-primary-border:             #fff;