@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";

/* Fonts */
$font-family-regular:           'ProximaNovaRegular', sans-serif;
$font-family-bold:              'ProximaNovaBold', sans-serif;
$font-family-black:             'ProximaNovaBlack', sans-serif;

/* Main */
$bg-color:                       #f6f6f6;

$main-color:                     #B81152;
$second-color:                   #990F45;

$text-color:                     #000;
$head-color:                     #444;
$border-color:                   #B6B6B6;
$link-color:                     #000;
$link-hover-color:               #9f1050;
$link-hover-color-item:          #ee3b37;
$link-hover-decoration:          underline;

/* Buttons */
$btn-font-weight:                normal;

$btn-default-color:              #000;
$btn-default-color-hover:        #fff;
$btn-default-bg:                 #fff;
$btn-default-bg-hover:           #B81152;
$btn-default-bg-active:          darken($btn-default-bg-hover, 10%);
$btn-default-border:             #B81152;

$btn-primary-color:              #fff;
$btn-primary-color-hover:        #fff;
$btn-primary-bg:                 $main-color;
$btn-primary-bg-hover:           $second-color;
$btn-primary-bg-active:          darken($btn-default-bg-hover, 10%);
$btn-primary-border:             $main-color;

/* Bootstrap settings */

$container-tablet:             (720px + $grid-gutter-width) !default;
$container-sm:                 $container-tablet !default;

$container-desktop:            (940px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;

$container-large-desktop:      (1410px + $grid-gutter-width);
$container-lg:                 $container-large-desktop;

// Articles
$article-colors: (
  white   : #fff,
  gray    : #E8E8E8
);

// Materials
$materials-colors: (
  maroon   : #B91152,
  burgundy : #990E43
);



// Theme 'Pink'

  $main-color-pink:                #E693B8;
  $second-color-pink:              #D5719C;

  $btn-default-border-pink:        $main-color-pink;
  $btn-default-bg-pink:            #fff;
  $btn-default-bg-hover-pink:      $second-color-pink;
  $btn-default-bg-active-pink:     darken($btn-default-bg-hover-pink, 10%);

  $btn-primary-border-pink:        $main-color-pink;
  $btn-primary-bg-pink:            $main-color-pink;
  $btn-primary-bg-hover-pink:      $second-color-pink;
  $btn-primary-bg-active-pink:     darken($btn-primary-bg-hover-pink, 10%);

  $materials-colors-pink: (
          maroon   : #E593B8,
          burgundy : #DA7DA6
  );


// Theme 'Purple'

  $main-color-purple:              #8E5AA2;
  $second-color-purple:            #6A3D7B;

  $btn-default-border-purple:      $main-color-purple;
  $btn-default-bg-purple:          #fff;
  $btn-default-bg-hover-purple:    $second-color-purple;
  $btn-default-bg-active-purple:   darken($btn-default-bg-hover-purple, 10%);

  $btn-primary-border-purple:      $main-color-purple;
  $btn-primary-bg-purple:          $main-color-purple;
  $btn-primary-bg-hover-purple:    $second-color-purple;
  $btn-primary-bg-active-purple:   darken($btn-primary-bg-hover-purple, 10%);

  $materials-colors-purple: (
          maroon   : #8D59A1,
          burgundy : #7F4F90
  );