@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins";

/* Fonts */
$font-family-regular:           'ProximaNovaRegular', sans-serif;
$font-family-bold:              'ProximaNovaBold', sans-serif;
$font-family-black:             'ProximaNovaBlack', sans-serif;

/* Main */
$bg-color:                       #f6f6f6;

$main-color:                     #B81152;
$second-color:                   #990F45;

$text-color:                     #000;
$head-color:                     #444;
$border-color:                   #B6B6B6;
$link-color:                     #000;
$link-hover-color:               #9f1050;
$link-hover-color-item:          #ee3b37;
$link-hover-decoration:          underline;

/* Buttons */
$btn-font-weight:                normal;

$btn-default-color:              #000;
$btn-default-color-hover:        #fff;
$btn-default-bg:                 #fff;
$btn-default-bg-hover:           #B81152;
$btn-default-bg-active:          darken($btn-default-bg-hover, 10%);
$btn-default-border:             #B81152;

$btn-primary-color:              #fff;
$btn-primary-color-hover:        #fff;
$btn-primary-bg:                 $main-color;
$btn-primary-bg-hover:           $second-color;
$btn-primary-bg-active:          darken($btn-default-bg-hover, 10%);
$btn-primary-border:             $main-color;

/* Bootstrap settings */

$container-tablet:             (720px + $grid-gutter-width) !default;
$container-sm:                 $container-tablet !default;

$container-desktop:            (940px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;

$container-large-desktop:      (1410px + $grid-gutter-width);
$container-lg:                 $container-large-desktop;

// Articles
$article-colors: (
  white   : #fff,
  gray    : #E8E8E8
);

// Materials
$materials-colors: (
  maroon   : #B91152,
  burgundy : #990E43
);